@import "_lesshat";
@import "_mixins";
@import "_variables";
@import "_normalize";
@import "_icons";


/* body
=================================================================== */
	body{
		background: url("../images/green-fibers.png");
		font-family: 'Open Sans', sans-serif;
	}

/* structure
=================================================================== */

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* typo
=================================================================== */
	//Book 300
	//Normal 400
	//Semi 600
	//Bold 700

	a{text-decoration: none;}
/* Header
=================================================================== */
	header{
		height: 50px;
		.transition(all,0.1s);
		&.uploading{
			padding-top:5px;
			height: 55px;
			#upload,ul li{line-height: 45px;}
		}
		text-align: justify;
		background: #fafafa;
		a{ color: #444; .text-shadow(0px,1px,0px,white)}
		.quick-gradient(top,0.2);
		#upload{
			cursor:pointer;
			line-height: 50px;
			display:block;
			float: left;
			margin-left: 20px;
			padding-left: 50px;
			font-family: 'Open Sans', sans-serif;
			.icon-upload:before{
				color: #aaa;
				font-size: 40px;
				.text-shadow(0px, 1px, 0px, #f0f0f0);
				position: absolute;
				left: 20px;
			}
			
			&:hover i.icon-upload:before{color: #777;}
		}
		ul{
			float: right;
			margin: 0;
			margin-right: 20px;

			li{ display: inline-block; line-height: 50px}
		}
		.form_holder{
			display:none;
			position:absolute;
			top: 50px;
			padding:10px 20px;
			background: #cacaca;
			border-top:1px solid white;
			.quick-gradient-white(bottom,0.7);
			width: 100%;
			z-index:10;
			input{
				float: left;
			}
			#dropzone{
				width:100%;
				height: 400px;
				
				margin-top: 20px;
				.border-radius(50px);
				border: 5px dashed #bbb;
				.box-shadow-in(0px,-2px,1px,0,0.3);

			}
		}
		.fileupload-progress{
			position: absolute;
			z-index: 50;
			display:none;
			width: 100%;
			top: 0;
			background: #dadada;
			border-bottom:1px solid #d0d0d0;

		}
		.bar{height:5px; z-index:11; background: @green;}
	}

/* Album-listing
=================================================================== */
	#album-listing ul{
		padding: 0;
		margin: 0;
		width: 100%;
		@smallHeight:128px;
		@smallWidth:128px;
		li{			
			display:block;
			
			float:left;
			width:@smallWidth;
			height: @smallHeight;
			position: relative;
			overflow:hidden;
				.transition(all,0.1s);
			img{.transition(all,0.1s);}
			&:hover{
			
				.controls{left:0;}
				img{.transform(0,0.9,0,0);-webkit-filter: blur(5px);}
				.info{.transform(0,1,0,0); opacity:1;-webkit-filter: blur(0px);}
			}
			.box-shadow();
			img{display:block;}
			span{display:block; color: white;}
			.info{
				.transition(all,0.1s);
				-webkit-filter: blur(2px);
				position: absolute;
				opacity:0;
				width: @smallWidth;
				height: @smallHeight;
				z-index:50;
				top:0;
				background: rgba(0,0,0,0.5);
				display:table;
				.transform(0,1.5,0,0);
				div.info_holder{
					display:table-cell;
					text-align: center;
					span{.text-shadow(0px,0px,10px,rgba(0,0,0,0.5));}
					vertical-align:middle;
					span.artist{font-size:13px;}
					span.album-name{font-size:16px;}
				}
				
				div.controls{
					position: absolute;
					top: 0;
					left:0;
					margin: 0;
					padding: 0;
					display:inline-block;
					text-align: justify;
					width:@smallWidth;
					padding:10px;
					a{
						&:hover{color:white;}
						display:inline-block;
						//margin: 10px;
						color: #ccc;
						font-size: 1.2em;
						span{display:none;}
						&.icon-love,&.icon-loved{font-size:1.3em;}
						&.icon-download{font-size:1.5em; }
					}
					&:after{
						content:"";
						display:inline-block;
						width:100%;
					}
				}
			}
			// .controls{
				
			// 	.transition(all,0.1s);
			// 	position: absolute;
			// 	top: 0;
			// 	left: -40px;
			// 	width: 40px;
			// 	height: 128px;
			// 	padding-top: 10px;
			// 	background: @green;
			// 	text-align: center;
			// 	a{
			// 		.text-shadow(0px,0px,10px,lighten(@green,20%));
			// 		color: white;
			// 		font-size: 25px;
			// 		display:inline-block;
			// 		&:hover{color:#4e4e4e;}
			// 		&.icon-download{margin-top: 55px; font-size: 32px;}
			// 	}
			// }
			
		}
	}
	#album-listing li.huge{
		@hugeWidth:512px;
		@hugeHeight:512px;
		height:@hugeHeight;
		width:@hugeWidth;
		.info{height:@hugeHeight; width:@hugeHeight;}
		.info div.controls{width:@hugeWidth;}
		.info div.info_holder span.artist{font-size:37px; font-weight: 300;}
		.info div.info_holder span.album-name{font-size:80px; font-weight: 300}
	}
	#album-listing li.med{
		@medWidth:256px;
		@medHeight:256px;
		height:@medHeight;
		width:@medWidth;
		.info{height:@medHeight; width:@medWidth;}
		.info div.controls{width:@medWidth;}
		.info div.info_holder span.artist{font-size:20px; font-weight: 300;}
		.info div.info_holder span.album-name{font-size:38px; font-weight: 300}
	}